@mixin r($viewport) {
	@media screen and (max-width: $viewport) {
		@content;
	}
}

@mixin rmin($viewport) {
	@media screen and (min-width: $viewport) {
		@content;
	}
}

@mixin fontfamily(
	$name,
	$path,
	$weight: 400,
	$style: normal,
	$ttf: false,
	$woff: false,
	$woff2: false,
	$eot: false,
	$otf: false
) {
	@font-face {
		font-family: "#{$name}";
		@if $eot == true {
			src: url("#{$path}.eot");
		}
		@if $woff2 == true {
			src: url("#{$path}.woff2") format("woff2");
		}
		@if $woff == true {
			src: url("#{$path}.woff") format("woff");
		}
		@if $ttf == true {
			src: url("#{$path}.ttf") format("truetype");
		}
		@if $otf == true {
			src: url("#{$path}.otf") format("opentype");
		}
		font-style: $style;
		font-weight: $weight;
	}
}
@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}
@mixin hoverActive {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
	&:active {
		@content;
	}
}
